/*Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 99999999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));

    background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.chk_textbox{
    padding: 3px 8px;

    font-size: 18px;
    line-height: 100%;
    height: 40px;
    width: 92%;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
}
.single_model_answer{
    width: 100%;
}
input.chk_textbox::placeholder {font-size:  14px;top: -3px;position: relative;}
input.chk_textbox.input-text{
    margin-bottom: 15px;
}

.single_label
{
    display: block;
    padding-top: 5px;
}

.hifi_plugin_page .big-container{
    width:74%;
    margin-left:0;
    margin-right:0.5%;
}
.hifi_plugin_page .small-container{
    width:25%;
    margin-right:0;
    margin-left:0.5%;
}

.hifi_plugin_page .meta-box-sortables {
    min-height: 100px;
}
.hifi_plugin_page .text-center{
    text-align: center;
    margin:0 auto;
}
.hifi_plugin_page .postbox .inside {
    margin-bottom: 0;
}
.hifi_plugin_page .paypal_form{
    margin-top:15px;
}
.support_sec a i{
    font-size: 46px;
    margin: 0 10px 10px 0;
    display: inline-block;
    vertical-align: middle;	
}
.support_sec a{
    text-decoration:none;
}
.half-container-1 {
    width: 69.5%;
    display: inline-block;
    vertical-align: top;
}
.half-container-2 {
    width: 29.5%;
    display: inline-block;
    vertical-align: top;
}
.half-container-3 {
    width: 88.5%;
    display: inline-block;
    vertical-align: top;
}
.half-container-4 {
    width: 10.5%;
    display: inline-block;
    vertical-align: top;
}
.feed-orange i{
    font-size:30px;
    color:#fff;
    background-color: #F79939;
    border-radius:7px;
    padding:3px 5px;
}
.half-container-2 img {
    max-width: 100%;
    width:auto;
    height:170px;
}
.text-right {
    text-align: right;
}
.green{
    color:#B7D436;
}
.support-input{
    background-color: #ddd !important;
    color: #000 !important;
    padding: 7px !IMPORTANT;
    width: 85%;
    border: none !important;
    box-shadow: none !important;
}

.greenbtn{
    margin:15px 0 auto !important;
    background: #009301 !important;
    border-color: #026302 #037704 #037704 !important;
    -webkit-box-shadow: 0 1px 0 #037704 !important;
    box-shadow: 0 1px 0 #037704 !important;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: 0 -1px 1px #037704, 1px 0 1px #037704, 0 1px 1px #037704, -1px 0 1px #037704 !important;
    font-size:16px !important;
}
.margin-cls{
    margin:15px auto !important; 
}
.medium-font{
    font-size:16px;
}
.link1{
    background: #bbb;
    width: 100%;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    font-size:16px;
    text-decoration:none;
    margin-bottom:10px;
}
.link2{
    background: #ea7070;
    width: 100%;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    font-size:16px;
    text-decoration:none;
}
.red{
    color:#b50404;
}
.white{
    color:#fff;
    font-size:14px;
}
.small-img img{
    height:70px;
}
.announcements_sec{
    list-style:disc;
    padding-left:15px;
}
.hifi_plugin_page .postbox .handlediv::before{
    display:none !important;
}
#submit_btn_div{
    text-align: right;
}
#descwrap textarea
{
    width: 100%;
    color: #72777c;

    padding: 11px 10px;
}
.back_link{
    padding: 15px 0;
    font-size: 14px;
    text-decoration: none;
}
.back_link:hover{
    text-decoration: underline;

}
.hifi-validation-error {
    color: #e46c6e !important;
}

label.hifi-validation-error {
    background: #ffefef;
    border: 1px solid #ffd2d2;
    color: #666;
    font-size: 0.9em;
    margin: 10px 0 5px 0;
    padding: 5px;
    display: block;
    clear: both;
}
.hifi_plugin_page select,.hifi_plugin_page input[type="text"],.hifi_plugin_page input[type="number"],#seller_photo{
    width: 100%;
    height: 40px;
    display: block;
}
.hifi_plugin_page .seller_add input ,.hifi_plugin_page .hifi_category_div input {
    margin-bottom: 15px !important;
}
.hifi_plugin_page .product_form{
    margin-bottom: 15px;
}
.hifi_plugin_page .radio_handler{
    cursor: pointer !important;
}
.hifi_plugin_page .seller_add{
    margin: 15px;
}
.hifi_plugin_page .seller_box_div{
    margin-top: 15px;
}


/*

Toggle Switch
12-08-2018

*/
.hifi-plugin_page_hifi_manage_stock .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.hifi-plugin_page_hifi_manage_stock .switch input {display:none;}

.hifi-plugin_page_hifi_manage_stock .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.hifi-plugin_page_hifi_manage_stock .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.hifi-plugin_page_hifi_manage_stock input:checked + .slider {
    background-color: #2196F3;
}

.hifi-plugin_page_hifi_manage_stock input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.hifi-plugin_page_hifi_manage_stock input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.hifi-plugin_page_hifi_manage_stock .slider.round {
    border-radius: 34px;
}

.hifi-plugin_page_hifi_manage_stock .slider.round:before {
    border-radius: 50%;
}

.hifi-plugin_page_hifi_manage_stock .label {
    color: white;
    padding: 0px 5px;
    font-family: Arial;
    font-weight: 700;
    display: inline-block;
    margin: 5px;
    text-align: center;
}
.hifi-plugin_page_hifi_manage_stock .success {
    background-color: #4CAF50;
    border-radius: 5px;
    font-size: 11px;
    display: block;
    width: auto;
} /* Green */
.hifi-plugin_page_hifi_manage_stock .default {
    background-color: #e7e7e7;
    border-radius: 5px;
    font-size: 11px;
    color: black;
    display: block;
    width: auto;
} /* Red */
.hifi-plugin_page_hifi_manage_stock .buyer_selctions{
    margin: 15px 0;
}
.hifi-plugin_page_hifi_manage_stock .buyer_add label,.hifi-plugin_page_hifi_manage_stock .buyer_extra_fields label{
    margin-top: 5px;
    display:block;

}
.hifi-plugin_page_hifi_manage_stock .buyer_add input,.hifi-plugin_page_hifi_manage_stock .buyer_extra_fields input,.hifi-plugin_page_hifi_manage_stock .buyer_box {
    display:block;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}
.hifi-plugin_page_hifi_manage_stock .buyer_extra_fields textarea{
    display:block;
    width: 100%;
    margin-bottom: 15px;
}
.hifi_seller_div #titlediv input,.hifi_buyer_div #titlediv input{
    margin-bottom:  15px;
}
.hifi_seller_div .seller_img{
    display: block;
    margin:  10px;
}
.hifi_buyer_div #titlediv label{
    display: block;
}
.hifi_buyer_div #titlediv textarea{
    width: 100%;
}
.hifi_filter_by_category, #poststuff .hifi_reports_div{
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
}
.hifi_filter_by_category select,.hifi_reports_div select{
    height: 30px;
}
.hifi_reports_div #reportrange{
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.hifi_reports_div .report-btn{
    margin: 2px;
    margin-left: 6px;
}
.hifi-plugin_page_hifi_report .table-of-contents
{
    margin-top: 10px;
    padding-top: 20px;
}
div#message {
    display:  none;
}

div.updated {
    display:  none;
}

p#dolly {
    display:  none;
}